search-box {
  margin: 4px;
  display: block;

  form {
    position: relative;
  }

  input {
    width: 20rem;
    height: auto;
    margin: 0;
    padding: 7px 8px;
    color: #464646;

    font-size: 0.875rem;
    border: 1px solid #dbdbdb;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 2rem;
  }

  button {
    font-size: 0;
    vertical-align: middle;
    width: 24px;
    border: none;
    background: none;
    background: url(/core/profiles/demo_umami/themes/umami/images/svg/search.svg) no-repeat 0.5em center;
    background-size: contain;
    position: absolute;
    right: 8px;
    bottom: 4px;

    &:hover {
      cursor: pointer;
    }
  }
}

.layout__region.layout__region--second {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
  align-content: flex-start;
}

.layout__region.layout__region--second-second {
  display: flex;
  justify-content: flex-end;
}

.block-swc-search-simple-pager {
  align-content: flex-start;
  width: 100%;
}

.block-swc-search-simple-pager {
  text-align: center;
}

search-input {
  font-size: 3rem;
  text-align: center;
  display: block;
  margin-bottom: 2rem;


  form {
    position: relative;
  }
  input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 2px solid green;
    padding-right: 10rem;
  }

  .search-input-clear {
    position: absolute;
    background: transparent;
    width: 40px;
    height: 40px;
    right: 5.5rem;
    bottom: 8px;
    font-size: 0;
    border: 0;
    border-radius: 2px;

    &:after {
      font-size 3rem;
      font-weight: bold;
      content: 'X';
      color: black;
      font-size: 2rem;
      opacity: .7;
      vertical-align: middle;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button[type="submit"] {
    width: 50px;
    display: block;
    min-height: 100%;
    font-size: 0;
    border: unset;
    position: absolute;
    right: 0;
    bottom: 2px;

    background: url(/core/profiles/demo_umami/themes/umami/images/svg/search.svg) no-repeat center;
    background-size: contain;

    &:hover {
      cursor: pointer;
    }
    line-height: 2rem;
  }
}

.block-swc-search-applied-facets {
  flex-grow: 1;
}

search-applied-facets ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0.5rem 1rem;

    &.facet {
      font-size: 1.2rem;
      button {
        font-size: 0;
        width: 20px;
        line-height: 1rem;
        border: none;
        background: none;

        &:after {
          font-size: 1.1rem;
          color: black;
          content: 'x';
          font-weight: bold;
          opacity: .8;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.reset button {
      border: none;
      background: none;
      font-size: 1.2rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

search-results-per-page,
search-sort {
  margin-left: 1rem;
  label {
    display: block;
    white-space: nowrap;
  }
  select {
    width: 100%;
    min-width: fit-content;
  }
}

search-result-summary {
  font-size: 1.5rem;
  > div {
    margin-bottom: 1rem;
  }
}

facet-checkbox,
facet-dropdown,
facet-dropdown-html,
facet-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .facet-label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 4px;
  }
}

facet-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  ul {
    margin: 0;
    padding: 0;
  }

  li.button {
    font-size: 0.9rem;
    display: inline-flex;
    margin: 0.1rem !important;;
    background: 0;
    padding: 0;
    border: unset;
    flex-shrink: 1;

    button {
      background: transparent;
      border: 2px solid #008068;
      border-radius: 3px;
      white-space: wrap;

      &:hover {
        cursor: pointer;
        background: #008068;
        color: #fff;
      }
    }
  }



  li.button.selected {
    button {
      background: #008068;
      color: #fff;
    }
  }
}

facet-checkbox {
  ul {
    padding-left: 0;
    max-height: 20.3rem;
    overflow-y: scroll;
  }
  li {
    list-style: none;
    font-size: 1rem;
  }
}

search-results {
  ul {
    padding-left: 0;
  }

  > div > ul > li {
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 4rem;
  }
}

search-result-element-rendered {
  > article {
    position: relative;
    width: 100%;

    h2, footer, .node__content {
      max-width: calc(100% - 220px);
    }

    h2 {
      font-weight: bold;
    }
  }
  img {
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
  }

  .node__links {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .field--name-field-tags {
    margin-top: 1rem;
  }
}

search-simple-pager {
  font-size: 1.4rem;
  button {
    background: none;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  .prev, .next {
    font-size: 1.2rem;
    line-height: 1.4rem;
    vertical-align: middle;
  }

  button[disabled] {
    opacity: .5;
  }
}
