.block-swc-search-results-switcher {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

search-results-switcher {
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-items: flex-end
  }

  li {
    margin: 0.1rem;

    button {
      font-size: 0;
      border: unset;
      height: 2rem;
      width: 2rem;

      &.list{
        background: url(/modules/contrib/umami_search_web_components/modules/umami_search_web_components_adv/images/layout-list.png) no-repeat center;
        background-size: contain;
      }

      &.grid{
        background: url(/modules/contrib/umami_search_web_components/modules/umami_search_web_components_adv/images/layout-grid.png) no-repeat center;
        background-size: contain;
      }

      &.selected {
        border: 2px solid #008068;
      }
    }
  }
}

search-results {
  ul.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 0px 10px;

    > li > * {
      max-height: 300px;
      overflow: scroll;
    }
  }
}

search-result-recipe {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .details-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .details {
      flex-grow: 1;
    }

    .image {
      margin-right: 2rem;
    }

    .info {
      list-style: none;
      margin-bottom: 1rem;
    }

    img {
      max-width: 20rem;
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
}

button.facet-label {
  background: transparent;
  border: 2px solid grey;
  border-radius: 3px;
  width: 100%;
  text-align: left;
  padding-right: 1.5rem;
  position: relative;

  &:after {
    content:'';
    height: 2rem;
    width: 2rem;
    background: url(/modules/contrib/umami_search_web_components/modules/umami_search_web_components_adv/images/caret-down-filled.png) no-repeat center;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: -1px;
    right: 0;
  }

  &.open {
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    &:after{
      background: url(/modules/contrib/umami_search_web_components/modules/umami_search_web_components_adv/images/caret-up-filled.png) no-repeat center;
      background-size: contain;
      bottom: -4px
    }
  }
}

.facet-options.open {
  margin-top: -6px;
  padding: 0.5rem;
  border: 2px solid grey;
  border-top: none;
  border-radius: 3px;
}

.facet.reset {
  border: unset;
  background: transparent;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

search-simple-pager {
  .first,
  .last {
    font-size: 1rem
  }

  .current.page {
    font-weight: bold;
  }


  .prev.page,
  .next.page {
    font-size: 1rem
  }
}

.providedby {
  font-size: .7rem;
}
